[Unit]
Description=Collector for SMART values
After=syslog.target collectd.service

[Service]
EnvironmentFile=-/etc/sysconfig/smartmon-collectd
ExecStart=/opt/smartmon-collectd.sh sda sdb sdc sdd
Restart=always
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
